{% comment %}
  Renders a standard dropdown style menu for the header.

  Usage:
  {% render 'header-dropdown-menu' %}
{% endcomment %}
{{ 'custom-menu-bar.css' | asset_url | stylesheet_tag }}
<nav style="display:none" class="header__inline-menu">
  <ul class="list-menu list-menu--inline" role="list">
    {%- for link in section.settings.menu.links -%}
      <li class="li-menu-custom">
       {% if link.title == 'HOME' %}
          <div class="menu-bar-home-custom">
            <ul>
              <li>FANSHION 01</li>
              <li>Home 01</li>
              <li>Home 02</li>
              <li>Home 03</li>
              <li>Home 04</li>
              <li>Home 05</li>
              <li>Home 06</li>
            </ul>
            <ul>
              <li>FANSHION 02</li>
              <li>Home 07</li>
              <li>Home 08</li>
              <li>Home 09</li>
              <li>Home 10</li>
              <li>Home 11</li>
              <li>Home 12</li>
            </ul>
            <ul>
              <li>FANSHION 03</li>
              <li>Home 13</li>
              <li>Home 14</li>
              <li>Home 15</li>
              <li>Home 16</li>
              <li>Home 17</li>
              <li>Home 18</li>
            </ul>
          </div>
        {% endif %}
        {% if link.title == 'PRODUCTS' %}
          <div class="menu-bar-home-custom">
            <ul>
              <li>PRODUCT PAGE</li>
              <li>Product Simple 01</li>
              <li>Product Simple 02</li>
              <li>Product Simple 03</li>
              <li>Product Simple 04</li>
            </ul>
            <ul>
              <li>PRODUCT PAGE</li>
              <li>Product Simple 05</li>
              <li>Product Simple 06</li>
              <li>Product Simple 07</li>
              <li>Product Simple 08</li>
            </ul>
            <ul>
              <li>COMMUNITY</li>
              <li>Community</li>
              <li>facebook ground</li>
              <li>Forums</li>
              <li>Meetups</li>
            </ul>
            <ul>
              <li>COMPANY</li>
              <li>Beuty</li>
              <li>Fansion</li>
              <li>Globo</li>
              <li>Lift style</li>
            </ul>
            <img
              src="https://globo-toro.myshopify.com/cdn/shop/files/img-single-sidebar01_large.jpg"
              alt=""
              width="200px"
              height="300px"
            >
          </div>
        {% endif %}
        {% if link.title == 'SHOP' %}
          <div class="menu-bar-home-custom">
            <ul>
              <li>PRODUCT PAGE</li>
              <li>Product Simple 01</li>
              <li>Product Simple 02</li>
              <li>Product Simple 03</li>
              <li>Product Simple 04</li>
            </ul>
            <ul>
              <li>PRODUCT PAGE</li>
              <li>Product Simple 05</li>
              <li>Product Simple 06</li>
              <li>Product Simple 07</li>
              <li>Product Simple 08</li>
            </ul>
            <ul>
              <li>COMMUNITY</li>
              <li>Community</li>
              <li>facebook ground</li>
              <li>Forums</li>
              <li>Meetups</li>
            </ul>
            <img
              src="https://globo-toro.myshopify.com/cdn/shop/files/banner-header_large.jpg"
              alt=""
              width="200px"
              height="300px"
            >
          </div>
        {% endif %}
        {% if link.title == 'PAGE' %}
          <div class="menu-bar-home-custom">
            <ul>
              <li>About</li>
              <li>Contact us</li>
              <li>Faqs</li>
              <li>Galarry</li>
              <li>Outtems</li>
              <li>Whinlist</li>
            </ul>
          </div>
        {% endif %}
        {% if link.title == 'BLOG' %}
          <div class="menu-bar-home-custom">
            <ul>
              <li>Blog No Sidebar</li>
              <li>Blog Left Sidebar</li>
              <li>Blog Right Sidebar</li>
              <li>Blog Grid</li>
              <li>Blog Masonry</li>
              <li>Single Post 01</li>
            </ul>
          </div>
        {% endif %}
        {%- if link.links != blank -%}
          <header-menu>
            <details id="Details-HeaderMenu-{{ forloop.index }}">
              <summary
                id="HeaderMenu-{{ link.handle }}"
                class="header__menu-item list-menu__item link focus-inset"
              >
                <span
                  {%- if link.child_active %}
                    class="header__active-menu-item"
                  {% endif %}
                >
                  {{- link.title | escape -}}
                </span>
                {{- 'icon-caret.svg' | inline_asset_content -}}
              </summary>
              <ul
                id="HeaderMenu-MenuList-{{ forloop.index }}"
                class="header__submenu list-menu list-menu--disclosure color-{{ section.settings.menu_color_scheme }} gradient caption-large motion-reduce global-settings-popup"
                role="list"
                tabindex="-1"
              >
                {%- for childlink in link.links -%}
                  <li>
                    {%- if childlink.links == blank -%}
                      <a
                        id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                        href="{{ childlink.url }}"
                        class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if childlink.current %} list-menu__item--active{% endif %}"
                        {% if childlink.current %}
                          aria-current="page"
                        {% endif %}
                      >
                        {{ childlink.title | escape }}
                      </a>
                    {%- else -%}
                      <details id="Details-HeaderSubMenu-{{ link.handle }}-{{ childlink.handle }}">
                        <summary
                          id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                          class="header__menu-item link link--text list-menu__item focus-inset caption-large"
                        >
                          <span>{{ childlink.title | escape }}</span>
                          {{- 'icon-caret.svg' | inline_asset_content -}}
                        </summary>
                        <ul
                          id="HeaderMenu-SubMenuList-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                          class="header__submenu list-menu motion-reduce"
                        >
                          {%- for grandchildlink in childlink.links -%}
                            <li>
                              <a
                                id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                href="{{ grandchildlink.url }}"
                                class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if grandchildlink.current %} list-menu__item--active{% endif %}"
                                {% if grandchildlink.current %}
                                  aria-current="page"
                                {% endif %}
                              >
                                {{ grandchildlink.title | escape }}
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      </details>
                    {%- endif -%}
                  </li>
                {%- endfor -%}
              </ul>
            </details>
          </header-menu>
        {%- else -%}
          <a
            id="HeaderMenu-{{ link.handle }}"
            href="{{ link.url }}"
            class="header__menu-item list-menu__item link link--text focus-inset"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            <span
              {%- if link.current %}
                class="header__active-menu-item"
              {% endif %}
            >
              {{- link.title | escape -}}
            </span>
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>
